{% extends 'base.html.twig' %}

{% block title %}Créé une sortie{% endblock %}

{% block body %}
{% include 'nav/nav.html.twig' %}

<div>
    {{ form_start(sortieForm) }}
    {{ form_widget(sortieForm) }}
    <button>Create</button>
    {{ form_end(sortieForm) }}

</div>

{% endblock %}

