<header>
    <h1><a href="{{path('sortie_accueil')}}">Sortons !</h1><img src="{{ asset('img/pizza.png') }}" alt="Part de pizza"></a>

    <nav>
        <ul>
            <li><a href="#">Villes</a></li>
            <li><a href="#">Campus</a></li>
            <li><a href="{{path('sortie_accueil')}}">Accueil</a></li>
            <li><a href="#">Mon profil</a></li>
        
            <li><a href="#">Se déconnecter</a></li>
    
            <li><a href="{{path('app_login')}}">Se connecter</a></li>
       
        </ul>
    </nav>
</header>