<header>
    
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <h1><a href="{{path('sortie_accueil')}}" class="navbar-brand">Sortons !</h1></a>
            </div>
        <ul class="nav navbar-nav">
            {% if app.user %}
            <li class="active"><a href="#">Villes</a></li>
            <li class="active"><a href="#">Campus</a></li>
            <li class="active"><a href="{{path('sortie_accueil')}}">Accueil</a></li>
            <li class="active"><a href="{{path('participant_profil')}}">Mon profil</a></li>
            <li class="active"><a href="{{path('app_logout')}}">Se déconnecter</a></li>
            {% endif %}
       
        </ul>
        </div>
    </nav>
</header>